<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.asset.mapper.AssetMapper">

    <select id="listAsset" parameterType="com.wsh.asset.comms.AssetParams" resultType="Map">
        SELECT
        a1.asset_id as assetId,
        a1.asset_number as assetNumber,
        a1.asset_name as assetName,
        a1.asset_classifyid as assetClassifyid,
          a2.assetclassify_name as assetClassifyName,
        a1.asset_storagedate as assetStoragedate,
        a1.asset_sourceid as assetSourceid,
          a3.assetsource_name as assetSourceName,
        a1.asset_channel as assetChannel,
        a1.asset_purchaseid as assetPurchaseid,
        a1.asset_contractid as assetContractid,
        a1.asset_brand as assetBrand,
        a1.asset_price as assetPrice,
        a1.asset_user_id as assetUserid,
        a1.asset_departmentid as assetDepartmentid,
          d1.department_name as assetDepartmentName,
        a1.asset_storageplace as assetStorageplace,
        a1.asset_enabledate as assetEnabledate,
        a1.asset_usedirectionid as assetUsedirectionid,
          a4.assetusedirection_name as assetUseDirectionName,
        a1.asset_SNnumber as assetSNnumber,
        a1.asset_manufactor as assetManufactor,
        a1.asset_productiondate as assetProductiondate,
        a1.asset_warrantydeadline as assetWarrantydeadline,
        a1.asset_maintenanceprice as assetMaintenanceprice,
        a1.asset_usestatus as assetUsestatus,
        asset_remark as assetRemark
        FROM
        `asset` a1
        LEFT JOIN assetclassify a2 ON a1.asset_classifyid=a2.assetclassify_id
        LEFT JOIN assetsource a3 ON a1.asset_sourceid=a3.assetsource_id
        LEFT JOIN assetusedirection a4 ON a1.asset_usedirectionid=a4.assetusedirection_id
        LEFT JOIN department d1 ON a1.asset_departmentid=d1.department_id
        <include refid="Base_where_List"/>
    </select>

    <insert id="addAsset" parameterType="com.wsh.asset.comms.AssetParams">
      INSERT INTO
        `asset`
        (asset_number,
        asset_name,
        asset_classifyid,
        asset_storagedate,
        asset_sourceid,
        asset_channel,
        asset_purchaseid,
        asset_contractid,
        asset_brand,
        asset_price,
        asset_user_id,
        asset_departmentid,
        asset_storageplace,
        asset_enabledate,
        asset_usedirectionid,
        asset_SNnumber,
        asset_manufactor,
        asset_productiondate,
        asset_warrantydeadline,
        asset_maintenanceprice,
        asset_usestatus,
        asset_remark)
      VALUES
        (#{assetNumber},
        #{assetName},
        #{assetClassifyid},
        #{assetStoragedate},
        #{assetSourceid},
        #{assetChannel},
        #{assetPurchaseid},
        #{assetContractid},
        #{assetBrand},
        #{assetPrice},
        #{assetUserid},
        #{assetDepartmentid},
        #{assetStorageplace},
        #{assetEnabledate},
        #{assetUsedirectionid},
        #{assetSNnumber},
        #{assetManufactor},
        #{assetProductiondate},
        #{assetWarrantydeadline},
        #{assetMaintenanceprice},
        #{assetUsestatus},
        #{assetRemark})
    </insert>

    <update id="updateAsset" parameterType="com.wsh.asset.comms.AssetParams">
        UPDATE `asset`
        <set>
            <if test="assetNumber != null">asset_number=#{assetNumber},</if>
            <if test="assetName != null">asset_name=#{assetName},</if>
            <if test="assetClassifyid != null">asset_classifyid=#{assetClassifyid},</if>
            <if test="assetStoragedate != null">asset_storagedate=#{assetStoragedate},</if>
            <if test="assetSourceid != null">asset_sourceid=#{assetSourceid},</if>
            <if test="assetChannel != null">asset_channel=#{assetChannel},</if>
            <if test="assetPurchaseid != null">asset_purchaseid=#{assetPurchaseid},</if>
            <if test="assetContractid != null">asset_contractid=#{assetContractid},</if>
            <if test="assetBrand != null">asset_brand=#{assetBrand},</if>
            <if test="assetPrice != null">asset_price=#{assetPrice},</if>
            <if test="assetUserid != null">asset_user_id=#{assetUserid},</if>
            <if test="assetDepartmentid != null">asset_departmentid=#{assetDepartmentid},</if>
            <if test="assetStorageplace != null">asset_storageplace=#{assetStorageplace},</if>
            <if test="assetEnabledate != null">asset_enabledate=#{assetEnabledate},</if>
            <if test="assetUsedirectionid != null">asset_usedirectionid=#{assetUsedirectionid},</if>
            <if test="assetSNnumber != null">asset_SNnumber=#{assetSNnumber},</if>
            <if test="assetManufactor != null">asset_manufactor=#{assetManufactor},</if>
            <if test="assetProductiondate != null">asset_productiondate=#{assetProductiondate},</if>
            <if test="assetWarrantydeadline != null">asset_warrantydeadline=#{assetWarrantydeadline},</if>
            <if test="assetMaintenanceprice != null">asset_maintenanceprice=#{assetMaintenanceprice},</if>
            <if test="assetUsestatus != null">asset_usestatus=#{assetUsestatus}</if>
        </set>
        WHERE
        <if test="assetId != null and assetId.length > 0">
            asset_id IN
            <foreach collection="assetId" item = "item" index = "index"
                     open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </update>

    <delete id="deleteAsset">
        DELETE FROM
        `asset`
        WHERE
        <if test="assetId !=null and assetId.length > 0">
            asset_id IN
            <foreach collection="assetId" item="item" index="index"
                     open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </delete>

    <!-- 动态基本信息查询条件 -->
    <sql id="Base_where_List">
        <!-- id查询数组：： -->
        <if test="assetId !=null and assetId.length > 0">
            AND a1.asset_id IN
            <foreach collection="assetId" item="item" index="index"
                     open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <!-- 资产name -->
        <if test="assetName != null">
            AND a1.asset_name = #{assetName,jdbcType=VARCHAR}
        </if>

        <!-- 资产编号 -->
        <if test="assetNumber != null">
            AND a1.asset_number = #{assetNumber,jdbcType=VARCHAR}
        </if>

        <!-- 部门id -->
        <if test="assetClassifyid != null">
            AND a1.asset_classifyid = #{assetClassifyid,jdbcType=VARCHAR}
        </if>

        <!-- 存放地 -->
        <if test="assetStorageplace != null">
            AND a1.asset_storageplace = #{assetStorageplace,jdbcType=VARCHAR}
        </if>

        <!-- 入库时间 -->
        <if test="assetStoragedate != null">
            AND a1.asset_storagedate = #{assetStoragedate,jdbcType=VARCHAR}
        </if>

        <!-- 渠道 -->
        <if test="assetChannel != null">
            AND a1.asset_channel = #{assetChannel,jdbcType=VARCHAR}
        </if>

        <!-- 品牌 -->
        <if test="assetNumber != null">
            AND a1.asset_brand = #{assetNumber,jdbcType=VARCHAR}
        </if>

        <!-- 厂家 -->
        <if test="assetManufactor != null">
            AND a1.asset_manufactor = #{assetManufactor,jdbcType=VARCHAR}
        </if>

        <!-- SN号 -->
        <if test="assetSNnumber != null">
            AND a1.asset_SNnumber = #{assetSNnumber,jdbcType=VARCHAR}
        </if>

        <!-- 部门ID -->
        <if test="assetDepartmentid != null">
            AND a1.asset_departmentid = #{assetDepartmentid,jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>